apiVersion: v1
kind: Service
metadata:
  name: adguard
  namespace: adguard
spec:
  type: LoadBalancer
  selector:
    app: adguard
  ports:
    - port: 80
      targetPort: 80
      name: http
    - port: 3000
      targetPort: 3000
      name: setup
    - port: 53
      targetPort: 53
      protocol: TCP
      name: dns-tcp
    - port: 53
      targetPort: 53
      protocol: UDP
      name: dns-udp
